#cart-page {
    margin: 80px 100px;
}

#cart {
    text-transform: uppercase;
    font-weight: normal;
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 100px 0;
}

#cart-page-items {
    padding: 0;
    width: 100%;
    height: 100%;
}

.cart-item {
    display: flex;
    position: relative;
    padding: 20px 0;
}

.item-border {
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    background: #E5E5E5;
}

.item-info {
    display: flex;
    flex-direction: column;
    width: 370px;
}

.item-brand {
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
}

.item-name {
    font-size: 30px;
    line-height: 40px;
}

.item-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
}

.item-atts {
    display: flex;
    flex-direction: column;
}

.cart-atts-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, 65px);
    gap: 8px;
}

.cart-selected-att {
    border: 1px solid #1D1F22;
    width: 63px;
    height: 45px;
    font-family: Source Sans Pro;
    line-height: 45px;
    margin-right: 8px;
    text-align: center;
}

.quantity-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.quantity-btn {
    text-align: center;
    width: 45px;
    height: 45px;
    border: 1px solid #1D1F22;
    font-size: 34px;
    font-weight: 100;
    line-height: 45px;
    cursor: pointer;
}

.quantity {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.item-img {
    position: relative;
    width: 140px;
    height: 185px;
    overflow: hidden;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.right-arrow, .left-arrow {
    position: absolute;
    bottom: 50%;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background: black;
    border-radius: 50px;
    padding: 4px;
}

.right-arrow {
    right: 0px;
}

.left-arrow {
    left: 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media (max-width: 1024px) {
    #cart-page {
        margin: 80px 0;
    }

    #cart {
        margin: 0 0 100px 10%;
    }

    .cart-item {
        position: relative;
        width: 100%;
        min-width: 280px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .quantity-control {
        flex-direction: row;
        width: 280px;
        margin: 1em auto;
    }

    .item-img {
        width: 280px;
        height: 420px;
        margin: 0;
    }

    .item-info {
        display: block;
        width: auto;
        margin: 0 auto;
    }
}