* {
    margin: 0;
    font-family: Raleway;
    list-style: none;
    text-decoration: none;
    color: black;
}

span {
    user-select: none;
}

img {
    height: 100%;
}

#container {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}